
*{margin:0; padding:0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.h1{color:rgb(0, 0, 0);
    font-style:inherit;
    padding: 10px 358px 10px 300px;
    width:50%;
    background-color: rgba(235, 235, 235, 0.288);}
body{border-width: 5px;
    margin: 20px;
    border-color: black;
    line-height: 1.6;
    border-style: solid;
    direction: ltr;}
h2{font-size:1.7em;}
h3{color:rgba(95, 95, 95, 0.884); 
    font-size: 1.1em;
    padding-bottom:20px; 
    margin-top: 0%;}
p{font-size: 1.2em;
    padding-bottom:10px;}
.a{color: rgb(0, 0, 0);
    font-size: 1.2em; }
footer{margin-top:20px;}
h4{color:black;
    font-size: 1.5em;
    margin: 20px 20px 10px 20x;}
ul{margin: 0 20px;
    list-style-type: square;
    padding:0;
    font-size: large;} 
li{margin: 5px 0;
   font: size 1.7em;}
.form-container{color: rgb(0, 0, 0); background-color:
    black; width:1299px; 
    height:80px; 
    font-size:2em; 
    border-top:6px solid black; 
    cursor: pointer;
    text; border-left:0; 
    border-right:0;}
.form-containe:hover{color: black;}
.rectangle {
    width: 80px;
    height: 40px;
    padding:1px;
    background-color: rgb(238, 0, 0);
    position: absolute;
    top: 10px;
    left: 8px;
    right: 8px;
    text-align: center;
    bottom: 2px ;
    color: rgb(255, 255, 255);}
.rectangle1{padding-top:10px ;}
form{border-radius:5px 5px;}
.form-container:hover{background-color:white;}
.box{margin-top: 28px;
    display: inline-block;
    width:25px ;
    height:25px ;}
.box1{background-color: black;
    cursor: pointer;}
.box2{background-color: rgb(0, 0, 180); 
    margin-left: 20px;
    cursor:pointer;}
.box3{background-color: rgb(124, 0, 0);
    margin-left: 20px;
    cursor: pointer;}
.box4{background-color: rgb(216, 184, 0);
    margin-left: 20px;
    cursor: pointer;}
.box5{background-color: rgb(20, 117, 0);
    margin-left: 20px;
    cursor: pointer;}
.box6{background-color:rgba(83, 61, 0, 0.993);
    margin-left: 20px;
    cursor: pointer;}